* {
    box-sizing: border-box;
}

/*style for body*/
body {
    width: 100%;
    font-family: Verdana, sans-serif;
    background: #000000;
    margin: 0;
    padding: 0;
    color: white;
}

/* style for header */
header {
    width: 100%;
}
/*style for logo*/
.logo {
    display: block;
    width: 400px;
    height: 200px;
    margin: 0 auto;
/*    margin-top: 40px;*/
/*    margin-left: 34%;*/
}

/*style for sliding banner*/
.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
}

/*style for header img*/
header img {
    margin: 0;
    width: 100%;
    height: 550px;
    margin-top: 10px;
}

/* Caption text */
.text1,
.text2,
.text3 {
    color: #f2f2f2;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    top: 520px;
    width: 100%;
    text-align: center;
}

.text1 {
    color: #000000;
}

/*style for dots*/
#dots {
    position: relative;
    text-align: center;
    top: -50px;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

/*style for fading Chrome, Safari*/
@-webkit-keyframes fade {
    from {
        opacity: 0.2
    }

    to {
        opacity: 0.6
    }
}

/* defines the style that will be applied for that moment within the animation*/
@keyframes fade {
    from {
        opacity: 0.2
    }

    to {
        opacity: 0.6
    }
}

/* style for nav bar*/

nav {
    position: sticky;
    top: 0;
    z-index: 999999;
}

nav ul {
    list-style-type: none;
    margin-top: -41px;
    margin-bottom: 60px;
    padding: 0;
    overflow: hidden;
    background: #333333;
}

nav li {
    float: left;
    width: 125px;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: #f2f2f2;
}

/* style for nav bar when it is hover */
nav li:hover {
    background-color: red;
}


/*font design for section*/

div.margindiv{
    margin-left: auto;
    margin-right: auto;
}
/* style for the linked photo */
div.photolink {
    float: left;
    margin-left: 10%;
    margin-right: 0;
    position: relative;
    height: 330px;
}


.photolink img {
    width: 535px;
    height: 330px;
    display: block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 331px;
}


.imghover {
    top: 2%;
}

.photolink:hover .imghover {
    opacity: 0.3;
}

.photolink:hover .middle {
    opacity: 1;
}

.middle a {
    text-decoration: none;
    background-color: blue;
}

.text {
    position: relative;
    top: 0;
    font-size: 30px;
    padding: 20px 50px;
    color: white;
    width: 535px;
    height: 330px;
    text-align: right;
    padding-top: 25%;
}


/*style for heading*/
h2 {
    clear: both;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 35px;
}

/*positioning review columns*/
section{
    float: left;
    width: 22%;
    height: auto;
    font-size: 15px;
    margin-right: 1%;
    margin-bottom: 50px;
    padding: 1%;
    padding-bottom: 10px;
    font-weight: normal;
    background: #333;
    border-radius: 10px;
}

#firstSection{
    margin-left: 4%;
}
#review1 {
    margin-left: 4%;
}

h2.opening{
    padding-top:0;
}
#openingBox {
    margin-left: 40%;
}

/*style for second part of the main*/

#openingBox{
    width: 100%;
    margin: 0 auto;
}

#openingBox ul {
    margin: 0 auto;
    width: 400px;
    line-height: 45px;
    list-style-type: none;
    background: #333;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-left: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#openingBox li {
    text-align: center;
    margin-right: 10px;
}

#openingBox hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*style for span*/
span {
    font-weight: bolder;
}

/*sty;e for footer*/
footer {
    clear: both;
    color: #f2f2f2;
    font-size: 13px;
    background: #333;
    position: absolute;
    width: 100%;
}

#footcontent {
    margin-left: 18%;
}

#sentence {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-right: 60px;
}

footer hr {
    margin: 0;
}

.footHead {
    font-weight: bolder;
    font-size: 14px;
}

.footInfo {
    margin-bottom: 40px;
}

footer ul {
    float: left;
    list-style-type: none;
}

footer li {
    line-height: 30px;
}

footer p {
    clear: both;
    padding-bottom: 5px;
    text-align: center;
}

footer li a {
    text-decoration: none;
    color: #f2f2f2;
}

.mail1 a, .mail2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
    }
    
    header img{
        height: 350px;
        margin-top: 10px;
    }
    
    /* Caption text */
    .text1,
    .text2,
    .text3 {
        font-size: 30px;
        position: absolute;
        top: 370px;
    }
    nav{
        position: static;
    }
    
    nav li{
        float: none;
        width: 100%;
    }
    
    nav a{
        font-size: 130%;
    }
   
    div.margindiv{
        margin-left: 6%;
        
    }
    div.photolink {
        width: 500px;
        height: 300px;
            
    }
    .photolink {
        display: block;
        margin-bottom: 50px;
        
    }
    
    .photolink img {
        display: block;
        width: 500px;
        height: 300px;        
        
    }
    
    .middle {
        top: 46%;
        left: 50%;
        height: 302px;
        width: 500px;
    }
    
   section{
        width: 45%;
        height: 450px;
        font-size: 15px;
        margin-right: 20px;
        margin-bottom: 40px;
        padding: 1%;
        padding-bottom: 6%;
        font-weight: normal;
        background: #333;
        border-radius: 10px;
        margin-right: 1%;
    }
    
    #thirdSection{
        margin-left:4%;
    }
    #openingBox{
        
        margin: 0 auto;
    }
    
    /*style for footer*/
    footer {
        width: 100%;
    }
    
    footer ul {
        float: none;
    }
    
    #contacthead{
        width: 200px;
    }
    
    #footcontent{
        margin-left: 0;
    }
	
    #footsentence{
        margin-bottom: 40px;
    }

    .footInfo{
        float: left;
        width: 18%;
        margin-bottom: 30px;
		margin-left: 1%;
    }
}

@media screen and (max-width: 480px){
    div.margindiv{
        margin-left: 0;
        
    }
    div.photolink {
        width: 350px;
        height: 200px;
            
    }
    .photolink {
        display: block;
        margin-bottom: 50px;
        
    }
    
    .photolink img {
        display: block;
        width: 350px;
        height: 200px;        
    }
    
    .middle {
        top: 46%;
        left: 50%;
        height: 200px;
        width: 350px;
    }
    
    .text{
        font-size: 20px;
        color: white;
        width: 350px;
        height: 200px;
    }
    
    h2{
        padding-top: 0;
    }
    section{
        height: 100px;
        font-size: 13px;
    }
    
    .hidden{
        display:none;
    }
    
    footer ul {
        float: none;
        list-style-type: none;
    }
    
    #footcontent{
        margin-left: 5%;
    }
    #footsentence{
        margin-bottom: 40px;
		
    }
    .footInfo{
        float: none;
        width: 50%;
    }
}