* {
    box-sizing: border-box;
}

/*body styling*/
body {
    background-color: black;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/*navigation styling*/
nav {
    position: sticky;
    top: 0;
    z-index: 999999;
}

nav ul {
    list-style-type: none;
    margin-top: -41px;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    background: #333333;
}

nav li {
    float: left;
    width: 125px;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: #f2f2f2;
}

/*navigation bar when hover over it */
nav li:hover {
    background-color: red;
}
/*header image style*/
header img {
    width: 100%;
    height: 500px;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*products images and texts style*/
section {
    padding-bottom: 50px;
}

section p {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    text-align: center;
}

section img {
    width: 600px;
    height: 400px;
    margin-right: 500px;
}

.images {
    padding-left: 12%;
    position: relative;
}

.image {
    display: block;
}

.images img {
    transition: .2s ease-out 0s;
    transition-duration: 1s;
}

.images img:hover {
    transform: scale(0.9);
    transition-duration: .5s;
    opacity: 0.5;
}

.image {
    display: block;
}

.overlay {
    position: absoloute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.images:hover .overlay {
    opacity: 1;
}

.text {
    color: #f2f2f2;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

span {
    font-size: 15px;
}

/*footer style*/
footer {
    clear: both;
    color: #f2f2f2;
    font-size: 13px;
    background: #333;
    position: absolute;
    width: 100%;
}

#footcontent {
    margin-left: 18%;
}

#sentence {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 45px;
    margin-right: 60px;
}

footer hr {
    margin: 0;
}

.footHead {
    font-weight: bolder;
    font-size: 14px;
}

.footInfo {
    margin-bottom: 40px;
}

footer ul {
    float: left;
    list-style-type: none;
}

footer li {
    line-height: 30px;
}

footer p {
    clear: both;
    padding-bottom: 5px;
    text-align: center;
}

.footInfo li a {
    text-decoration: none;
    color: #f2f2f2;
}

.mail1 a, .mail2 a {
    text-decoration: none;
    color: white;
    
}

/*tablet view*/
@media screen and (max-width: 768px) {
    nav {
        position: relative;
        top: 40px;
    }

    nav li {
        float: none;
        width: 100%;
    }

    nav a {
        font-size: 130%;
    }

    header img {
        height: 400px;
    }

    section {
        margin-bottom: 0px;
    }

    section p {
        padding-left: 10%;
        padding-right: 10%;
    }

    section img {
        width: 600px;
        height: 400px;
        margin-right: 500px;
    }

    .images {
        padding-left: 7%;
        position: relative;
    }

    div.images {
        width: 600px;
    }

    .text {
        width: 50%;
        font-size: 30px;
        line-height: 30px;
    }

    footer {
        width: 100%;
    }

    footer ul {
        float: none;
    }

    #contacthead {
        width: 200px;
    }

    #footcontent {
        margin-left: 0;
    }

    #footsentence {
        margin-bottom: 40px;
    }


    .footInfo {
        float: left;
        width: 18%;
        margin-bottom: 30px;
        margin-left: 1%;
    }
}

/*mobile view*/
@media screen and (max-width: 480px) {
    header img {
        height: 300px;
    }

    footer ul {
        float: none;
        list-style-type: none;
    }
    
    section {
        margin-bottom: 20px;
    }
    section img {
        width: 400px;
        height: 300px;
    }

    .images {
        padding-left: 7%;
        position: relative;
    }

    div.images {
        width: 400px;
    }

    .text {
        width: 58%;
        font-size: 28px;
        line-height: 25px;
    }

    span {
        visibility: hidden;
    }

    #footcontent {
        margin-left: 5%;
    }

    #footsentence {
        margin-bottom: 40px;

    }

    .footInfo {
        float: none;
        width: 50%;
    }
}